<extend name="Public:base" />
<block name="header_js">
<script type="text/javascript" src="__PUBLIC__/js/calendar.config.js"></script>
<script type="text/javascript" src="__DATA__/static/jq_plugins/iColorPicker/iColorPicker.js"></script>
</block>

<block name="content">
	<div class="layui-field-box">
    
    	<div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="layui-icon" style="font-size:20px;">&#xe654;</i> 
                添加广告
                </h3>
            </div>
            
        </div>
    	
        <form method="post" class="layui-form form-container" id="form_do" data-url="{:U('addDetail')}">
            <div class="layui-form-item">
                <label class="layui-form-label">广告名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" value="" required lay-verify="required" placeholder="广告名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="starttime" value="{:date('Y-m-d H:i:s',time())}" class="layui-input" id="starttime">
                    <script type="text/javascript">
						Calendar.setup({
							weekNumbers: true,
							inputField : "starttime",
							trigger    : "starttime",
							dateFormat: "%Y-%m-%d %H:%M:%S",
							showTime: true,
							minuteStep: 1,
							onSelect   : function() {this.hide();}
						});
					</script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="endtime" value="{:date('Y-m-d H:i:s',strtotime('+1 months'))}" class="layui-input" id="endtime">
                    <script type="text/javascript">
						Calendar.setup({
							weekNumbers: true,
							inputField : "endtime",
							trigger    : "endtime",
							dateFormat: "%Y-%m-%d %H:%M:%S",
							showTime: true,
							minuteStep: 1,
							onSelect   : function() {this.hide();}
						});
					</script>
                </div>
            </div>
            
            <switch name="cate['type']">
            <case value="1">
            <div class="layui-form-item">
                <label class="layui-form-label">文字内容</label>
                <div class="layui-input-inline" style="width:60%">
                    <textarea name="content" class="layui-textarea"></textarea>
                </div>
            </div>
            </case>
            <case value="2">
            <div class="layui-form-item">
                <label class="layui-form-label">图片</label>
                <div class="layui-input-inline" style="width:30%;">
                    <input type="text" name="content" value="" placeholder="图片地址" class="layui-input" id="litpic">
                </div>
                <div class="layui-input-inline">
                    <input type="file" name="myimage" class="layui-upload-file" id="image">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline" style="width:30%;">
                    <div id="litpic_show"></div>
                </div>
            </div>
            </case>
            <case value="3">
            <div class="layui-form-item">
                <label class="layui-form-label">flash</label>
                <div class="layui-input-inline" style="width:30%;">
                    <input type="text" name="content" value="" placeholder="flash地址" class="layui-input" id="downlink">
                </div>
                <div class="layui-input-inline">
                    <input type="file" name="myfile" class="layui-upload-file" id="myfile" lay-type="file">
                </div>
            </div>
            </case>
            </switch>
            
            <div class="layui-form-item">
                <label class="layui-form-label">链接地址</label>
                <div class="layui-input-inline" style="width:50%;">
                    <input type="text" name="url" value="" placeholder="链接地址" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="sort" value="1" placeholder="排序" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <input type="radio" name="status" value="1" title="启用" checked="checked" />
                    <input type="radio" name="status" value="0" title="停用" />
                </div>
            </div>
            
            <div class="layui-form-item">
            	<label class="layui-form-label"></label>
            	<div class="layui-input-inline"></div>
            </div>
                
            <div class="btable-paged" >
                <div class="layui-main">
                    <div class="formbtngroup">
                    <input type="hidden" name="aid" value="{$cate.id}" />
					<input type="hidden" name="type" value="{$cate.type}" />
                    <button class="layui-btn layui-btn-small" lay-submit="" lay-filter="formadd"><i class="layui-icon">&#xe618;</i>添加 </button>
                    <button onclick="history.go(-1);" class="layui-btn layui-btn-primary layui-btn-small"><i class="layui-icon">&#xe603;</i>返回 </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--<script type="text/javascript" src="__ADMIN__/js/formadd.js"></script>-->
    <script>
	layui.use(['form','upload','layer','element'],function(){
	  var form = layui.form()
	  ,jq = layui.jquery
	  ,element = layui.element();
	  
	  //上传缩略图
	  layui.upload({
		url: "{:U('Public/upload',array('img_flag' => 1))}"
		,elem:'#image'
		,before: function(input){
		  loading = layer.load(2, {
			shade: [0.2,'#000']
		  });
		}
		,success: function(res){
			var img = res.info[0].url;//原图
			var timg = res.info[0].turl;//缩略图
			layer.close(loading);
			jq('#litpic').val(img);
			jq('#litpic_show').html("<img src='"+timg+"' width='100%'>");
			layer.msg('上传成功！', {icon: 1, time: 1000});
		}
	  });
	  
	  //上传文件
	  layui.upload({
		url: "{:U('Public/upload')}"
		,elem:'#myfile'
		,before: function(input){
		  loading = layer.load(2, {
			shade: [0.2,'#000']
		  });
		}
		,success: function(res){
			var fileSize = parseFloat(res.info[0].size/1024).toFixed(2);
			var furl = res.info[0].url;
			layer.close(loading);
			jq('#downlink').val(furl);
			layer.msg(res.info[0].name + '上传成功！('+ fileSize +'kb)', {icon: 1, time: 1000});
		}
	  });
	  
	  //提交表单
	  var url=jq('form').data('url');
	  form.on('submit(formadd)', function(data){
	    loading = layer.load(2, {
	      shade: [0.2,'#000']
	    });
	    //var param = data.field;
	    jq.post(url,jq('#form_do').serialize(),function(data){
	    	
	      if(data.status == 1){
	        layer.close(loading);
	        layer.msg(data.info, {icon: 1, time: 1000}, function(){
	          location.href = data.url;
	        });
	      }else{
	        layer.close(loading);
	        layer.msg(data.info, {icon: 2, anim: 6, time: 1000});
	      }
	    });
	    return false;
	  });
	
	});
	</script>
</block>