<extend name="Public:base" />
<block name="header_js">
<script type="text/javascript" src="__DATA__/editor/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__DATA__/editor/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
$(function(){
    var ue = UE.getEditor('inputContent',{
        serverUrl :"{:U('Public/editorMethod')}"
    });
})
</script>
<script type="text/javascript" src="__PUBLIC__/js/calendar.config.js"></script>
<script type="text/javascript" src="__DATA__/static/jq_plugins/iColorPicker/iColorPicker.js"></script>
</block>

<block name="content">
	<div class="layui-field-box">
    
    	<div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="layui-icon" style="font-size:20px;">&#xe654;</i> 
                添加话题
                </h3>
            </div>
            
        </div>
    	
        <form method="post" class="layui-form form-container" id="form_do" data-url="{:U('add')}">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline" style="width:50%;">
                    <input type="text" name="title" value="" required lay-verify="required" placeholder="标题" class="layui-input">
                </div>
            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">副标题</label>
                <div class="layui-input-inline" style="width:50%;">
                    <input type="text" name="shorttitle" value="" placeholder="副标题" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">标题颜色</label>
                <div class="layui-input-inline">
                    <input type="text" name="color" value="" placeholder="标题颜色" class="layui-input iColorPicker">
                </div>
            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">所属栏目</label>
                <div class="layui-input-inline" style="width:30%;">
                    <select name="cid" class="form-control">
                        <volist name="cate" id="v">
                        <option value="{$v.id}" <if condition="$pid eq $v['id']">selected="selected"</if>>{$v.delimiter}{$v.name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">自定义属性</label>
                <div class="layui-input-block">
                    <foreach name='flagtypelist' item='v'>
                    <input type="checkbox" name="flags[]" value="{$key}" <if condition="$key eq B_JUMP">id="CK_JumpUrl" lay-filter="CK_JumpUrl"</if> lay-skin="primary" title="{$v}" />
                    </foreach>
                </div>
            </div>
            <div class="layui-form-item" id="JumpUrlDiv" style="display:none;">
                <label class="layui-form-label">跳转网址</label>
                <div class="layui-input-inline" style="width:50%;">
                    <input type="text" name="jumpurl" value="" placeholder="跳转网址" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">缩略图</label>
                <div class="layui-input-inline" style="width:30%;">
                    <input type="text" name="litpic" value="" placeholder="缩略图" class="layui-input" id="litpic">
                </div>
                <div class="layui-input-inline">
                    <input type="file" name="myimage" class="layui-upload-file" id="image">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline" style="width:30%;">
                    <div id="litpic_show"></div>
                </div>
            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">附件</label>
                <div class="layui-input-inline" style="width:30%;">
                    <input type="text" name="downlink" value="" placeholder="上传或粘贴附件" class="layui-input" id="downlink">
                </div>
                <div class="layui-input-inline">
                    <input type="file" name="myfile" class="layui-upload-file" id="myfile" lay-type="file">
                </div>
            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-inline">
                    <input type="text" name="author" value="" placeholder="作者" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">来源</label>
                <div class="layui-input-inline" style="width:30%;">
                    <input type="text" name="copyfrom" value="" placeholder="来源" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-inline" style="width:30%;">
                    <input type="text" name="keywords" value="" placeholder="多关键词之间用“,”隔开" class="layui-input">
                </div>
            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">标签</label>
                <div class="layui-input-inline" style="width:30%;">
                    <input type="text" name="tag" value="" placeholder="最多5个标签，用“,”分隔" class="layui-input">
                </div>
            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">摘要</label>
                <div class="layui-input-inline" style="width:60%">
                    <textarea name="description" class="layui-textarea"></textarea>
                </div>
            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">视频外链</label>
                <div class="layui-input-inline" style="width:60%">
                    <textarea name="video" class="layui-textarea" placeholder="粘贴优酷土豆等站外视频链接"></textarea>
                </div>
            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <textarea name="content" id="inputContent" style="height:370px; width:99%;"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发布时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="publishtime" value="{:date('Y-m-d H:i:s',time())}" class="layui-input" id="inputPublishtime">
                    <script type="text/javascript">
						Calendar.setup({
							weekNumbers: true,
							inputField : "inputPublishtime",
							trigger    : "inputPublishtime",
							dateFormat: "%Y-%m-%d %H:%M:%S",
							showTime: true,
							minuteStep: 1,
							onSelect   : function() {this.hide();}
						});
					</script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">评论</label>
                <div class="layui-input-inline">
                    <input type="radio" name="commentflag" value="1" title="允许" checked="checked" />
                    <input type="radio" name="commentflag" value="0" title="禁止" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">审核</label>
                <div class="layui-input-inline">
                    <input type="radio" name="status" value="1" title="通过" checked="checked" />
                    <input type="radio" name="status" value="2" title="禁止" />
                </div>
            </div>
            
            <div class="layui-form-item">
            	<label class="layui-form-label"></label>
            	<div class="layui-input-inline"></div>
            </div>
                
            <div class="btable-paged" >
                <div class="layui-main">
                    <div class="formbtngroup">
                    <input type="hidden" name="pid" value="{$pid}" />
                    <button class="layui-btn layui-btn-small" lay-submit="" lay-filter="formadd"><i class="layui-icon">&#xe618;</i>添加 </button>
                    <button onclick="history.go(-1);" class="layui-btn layui-btn-primary layui-btn-small"><i class="layui-icon">&#xe603;</i>返回 </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--<script type="text/javascript" src="__ADMIN__/js/formadd.js"></script>-->
    <script>
	layui.use(['form','upload','layer','element'],function(){
	  var form = layui.form()
	  ,jq = layui.jquery
	  ,element = layui.element();
	  
	  //上传缩略图
	  layui.upload({
		url: "{:U('Public/upload',array('img_flag' => 1))}"
		,elem:'#image'
		,before: function(input){
		  loading = layer.load(2, {
			shade: [0.2,'#000']
		  });
		}
		,success: function(res){
			var img = res.info[0].url;//原图
			var timg = res.info[0].turl;//缩略图
			layer.close(loading);
			jq('#litpic').val(img);
			jq('#litpic_show').html("<img src='"+timg+"' width='100%'>");
			layer.msg('上传成功！', {icon: 1, time: 1000});
		}
	  });
	  
	  //上传文件
	  layui.upload({
		url: "{:U('Public/upload')}"
		,elem:'#myfile'
		,before: function(input){
		  loading = layer.load(2, {
			shade: [0.2,'#000']
		  });
		}
		,success: function(res){
			var fileSize = parseFloat(res.info[0].size/1024).toFixed(2);
			var furl = res.info[0].url;
			layer.close(loading);
			jq('#downlink').val(furl);
			layer.msg(res.info[0].name + '上传成功！('+ fileSize +'kb)', {icon: 1, time: 1000});
		}
	  });
	  
	  //显示or隐藏跳转链接
	  form.on('checkbox(CK_JumpUrl)', function(data){
		if(data.elem.checked) {
			$('#JumpUrlDiv').show();
		}else {
			$('#JumpUrlDiv').hide();
		}
	  });
	  
	  //提交表单
	  var url=jq('form').data('url');
	  form.on('submit(formadd)', function(data){
	    loading = layer.load(2, {
	      shade: [0.2,'#000']
	    });
	    //var param = data.field;
	    jq.post(url,jq('#form_do').serialize(),function(data){
	    	
	      if(data.status == 1){
	        layer.close(loading);
	        layer.msg(data.info, {icon: 1, time: 1000}, function(){
	          location.href = data.url;
	        });
	      }else{
	        layer.close(loading);
	        layer.msg(data.info, {icon: 2, anim: 6, time: 1000});
	      }
	    });
	    return false;
	  });
	
	});
	</script>
</block>