<!--角色管理-->
<extend name="Public:base"/>
<block name="content">
  <div class="admin-main" id="app" v-cloak="">
    <p class="mb-26">
      <a class="btn-default" style="width:99px;" @click="roleInfoLayer({})">+ 添加角色</a>
    </p>
    <div>
      <table class="table-default action-b">
        <thead>
        <tr>
          <th>ID</th>
          <th>角色名称</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="role in list">
          <td>{{ role.id }}</td>
          <td>{{ role.name }}</td>
          <td class="table-action">
            <a class="btn-action-edit1 a-title2" title="编辑" @click="roleInfoLayer(role)"></a>
            <a class="btn-action-del1 a-title2" title="删除" @click="roleDel(role)"></a>
          </td>
        </tr>
        </tbody>
      </table>
      <div id="page"></div>
    </div>
  </div>

  <!--<script type="text/javascript" src="__ADMIN__/js/Rbac/roleList.js"></script>-->
  <script>
    (function (window) {
      var AppUtil = window.AppUtil
      var rootPath = window.ThinkPHP.APP
      var publicObj = window.publicObj
      var vm = new Vue({

          el: '#app',

          created: function () {
            this.getList()
          },

          data: function () {
            return {

              /*内容*/
              query: {
                page: 1,
                limit: 20,
              },

              list: [],
              total: [],

            }
          },

          computed: {},

          methods: {

            /*获取列表*/
            getList: function (page, limit, callback) {
              var self = this;
              if (page) {
                self.query.page = page;
              }
              if (limit) {
                self.query.limit = limit;
              }
              self.query.action = 'query'
              AppUtil.ajaxRequest({
                url: rootPath + '/Rbac/role',
                data: self.query,
                type: 'post'
              }).then(function (result) {
                self.list = result.data.list
                self.total = result.data.total
                if (typeof callback === 'function') {
                  callback()
                }
                //分页layui
                layui.use(['laypage'], function () {
                  var laypage = layui.laypage;
                  laypage({
                    cont: 'page'//ID，不加#
                    , pages: Math.ceil(self.total / self.query.limit)
                    , curr: self.query.page
                    , skip: true
                    , skin: '#707cd2'
                    , jump: function (obj, first) {
                      if (!first) {
                        self.query.page = obj.curr;
                        self.getList(obj.curr, self.query.limit);
                      }
                    }
                  });
                })

              });
            },

            /*添加、编辑角色弹框*/
            roleInfoLayer: function (role) {
              var url = rootPath + '/Index/roleInfo' + '&rid=' + role.id
              var title = role.id > 0 ? '编辑' : '添加'
              publicObj.layerShow(2, title + '角色', url)
            },

            /*删除角色*/
            roleDel: function (role) {
              var self = this
              layer.confirm('如有该角色的员工，删除后将无角色权限，可编辑员工重新选择角色！', {title: '删除角色？', skin: 'layer-confirm'}, function (index) {
                AppUtil.ajaxRequest({
                  url: rootPath + '/Rbac/delRole',
                  data: {
                    id: role.id
                  }
                }).then(function (result) {
                  self.getList()
                  publicObj.layerMsg(result.msg, AppUtil.SUCCESS);
                }).catch(function () {

                })
              })
            },

            /*删除员工*/
            staffDel: function () {
              layer.confirm('', {title: '确定删除该员工账号？', skin: 'layer-confirm'}, function (index) {
                publicObj.layerMsg('删除成功', 1);
              })
            },

            afterEditRole: function () {
              var self = this
              self.getList()
            }

          }
        })
      ;
      window.vm = vm;
    })(window);
  </script>

</block>