<extend name="Public:base" />
<block name="header_css">
<link rel="stylesheet" href="__ADMIN__/css/form.css">
</block>
<block name="header_js">
<script type="text/javascript" src="__ADMIN__/js/delelement.js"></script>
</block>
<block name="content">
	<div class="admin-main layui-form">
        <div class="layui-field-box">
        
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="layui-icon" style="font-size:20px;">&#xe62a;</i> 
                    {$type} 
                    </h3>
                </div>
            </div>
        	
            <div class="layui-box-searchber">
            	<button class="layui-btn layui-btn-small" onclick="goUrl('{:U('add')}')"><i class="layui-icon">&#xe608;</i> 添加规则</button>
                <button class="layui-btn layui-btn-small layui-btn-danger" data-url="{:U('del', array('batchFlag' => 1))}"  lay-submit lay-filter="alldelete"><i class="layui-icon">&#x1006;</i> 删除</button>
                <form class="layui-form-pane" action="{:U('index')}" method="post">
                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-small">搜索</button>
                    </div>
                </form>    
            </div>
        	<!--<hr>-->
            <form action="" method="post" id="form_do" name="form_do">
            <table class="layui-table admin-table">
            <thead>
              <tr>
                <th width="5%" align="center"><input type="checkbox" name="checkAll" lay-filter="checkAll"></th>
                <th>ID</th>
                <th>网站首页</th>
                <th>规则名称</th>
                <th>所属栏目</th>
                <th>采集范围</th>
                <th>采集类型</th>
                <th>更新时间</th>
                <th class="text-right">操作</th>
              </tr>
            </thead>
            <tbody id="content">
                <foreach name='vlist' item='v'>
                <tr>
                    <td><input type="checkbox" name="key[]" value="{$v.id}" lay-filter="checkOne"></td>
                    <td>{$v.id}</td>
                    <td>{$v.site}</td>
                    <td>{$v.title}</td>
                    <td>{$v.cid|get_catename}</td>
                    <td>{$v.firstpage}~{$v.lastpage}页</td>
                    <td><if condition="$v['type'] eq 1">文章<elseif condition="$v['type'] eq 2" />图片集<else />资源下载</if></td>
                    <td>{$v.posttime|date='Y-m-d H:i:s', ###}</td>
                    <td class="text-right">
                    <a href="{:U('caijiBatch',array('id' => $v['id']), '')}" class="layui-btn layui-btn-mini">立即采集</a>
                    <a href="{:U('edit',array('id' => $v['id']), '')}" class="layui-btn layui-btn-normal layui-btn-mini">修改</a>
                    <a href="javascript:;" data-url="{:U('del',array('id' => $v['id']), '')}" class="elementdel layui-btn layui-btn-danger layui-btn-mini">删除</a>
                    </td>
                </tr>
                </foreach>
            </tbody>
            </table>
            </form>
		</div>	
        
	</div>
    <div class="btable-paged" >
        <div class="layui-main">
        	<ul class="pagination">{$page}</ul>
        </div>
    </div>
</block>