<extend name="Public:base" />
<block name="header_js">
</block>

<block name="content">
	<div class="layui-field-box">
    
    	<div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="layui-icon" style="font-size:20px;">&#xe642;</i> 
                采集单页  
                </h3>
            </div>
            
        </div>
    	
        <form method="post" class="layui-form form-container" id="form_do" data-url="{:U('page')}">
            <div class="layui-form-item">
                <label class="layui-form-label">网站域名</label>
                <div class="layui-input-inline" style="width:50%;">
                    <input type="text" name="site" value="{$vo.site}" required lay-verify="required" placeholder="网站域名" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">单页地址</label>
                <div class="layui-input-inline" style="width:50%;">
                    <input type="text" name="url" value="{$vo.url}" required lay-verify="required" placeholder="单页地址" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">所属栏目</label>
                <div class="layui-input-inline">
                    <select name="cid" >
                        <option value="0">请选择</option>
                        <foreach name='cate' item='v'>
                        <option value="{$v.id}" <if condition="$vo.cid eq $v['id']">selected="selected"</if>>{$v.delimiter}{$v.name}</option>
                        </foreach>
                    </select>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">页面后缀</label>
                <div class="layui-input-inline">
                    <input type="text" name="ext" value="{$vo.ext}" placeholder="页面后缀" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">标题匹配规则</label>
                <div class="layui-input-inline" style="width:60%;">
                    <textarea name="titlepreg" class="layui-textarea">{$vo.titlepreg}</textarea>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">关键词匹配规则</label>
                <div class="layui-input-inline" style="width:60%;">
                    <textarea name="keypreg" class="layui-textarea">{$vo.keypreg}</textarea>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">描述匹配规则</label>
                <div class="layui-input-inline" style="width:60%;">
                    <textarea name="descrippreg" class="layui-textarea">{$vo.descrippreg}</textarea>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">正文匹配规则</label>
                <div class="layui-input-inline" style="width:60%;">
                    <textarea name="contentpreg" class="layui-textarea">{$vo.contentpreg}</textarea>
                </div>
            </div>
            
            <div class="layui-form-item">
            	<label class="layui-form-label">采集类型</label>
            	<div class="layui-input-block">
                	<input type="radio" name="type" value="1" <if condition="$vo['type'] eq 1">checked="checked"</if> title="文章" />
                    <input type="radio" name="type" value="2" <if condition="$vo['type'] eq 2">checked="checked"</if> title="图片集" />
                    <input type="radio" name="type" value="3" <if condition="$vo['type'] eq 3">checked="checked"</if> title="资源下载" />
                    <input type="radio" name="type" value="4" <if condition="$vo['type'] eq 4">checked="checked"</if> title="ajax列表" />
                </div>
            </div>
            
            <div class="layui-form-item">
            	<label class="layui-form-label">网站编码</label>
            	<div class="layui-input-block">
                	<input type="radio" name="codetype" value="1" <if condition="$vo['codetype'] eq 1">checked="checked"</if> title="utf-8" />
                    <input type="radio" name="codetype" value="2" <if condition="$vo['codetype'] eq 2">checked="checked"</if> title="gbk" />
                    <input type="radio" name="codetype" value="3" <if condition="$vo['codetype'] eq 3">checked="checked"</if> title="gbk（iconv函数）转码" />
                </div>
            </div>
            
            <!--<div class="layui-form-item">
            	<label class="layui-form-label">图片采集方式</label>
            	<div class="layui-input-block">
                	<input type="radio" name="type" value="1" <if condition="$vo['type'] eq 1">checked="checked"</if> title="curl方式" />
                    <input type="radio" name="type" value="0" <if condition="$vo['type'] eq 0">checked="checked"</if> title="ob_get_contents方式" />
                </div>
            </div>
            <div class="layui-form-item">
            	<label class="layui-form-label"></label>
            	<div class="layui-input-block">
                	（提示：如果采集不到图片或者采集的图片损坏请选用ob_get_contents方式）
                </div>
            </div>-->
            
            <div class="layui-form-item">
                <label class="layui-form-label">缩略图匹配规则</label>
                <div class="layui-input-inline" style="width:60%;">
                    <textarea name="picpreg" class="layui-textarea">{$vo.picpreg}</textarea>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">图片集匹配规则</label>
                <div class="layui-input-inline" style="width:60%;">
                    <textarea name="piclistpreg" class="layui-textarea">{$vo.piclistpreg}</textarea>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">资源下载地址规则</label>
                <div class="layui-input-inline" style="width:60%;">
                    <textarea name="downpreg" class="layui-textarea">{$vo.downpreg}</textarea>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">内容分页参数</label>
                <div class="layui-input-inline">
                    <input type="text" name="contentpage" value="{$vo.contentpage}" placeholder="内容分页参数" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">内容分页规则</label>
                <div class="layui-input-inline" style="width:60%;">
                    <textarea name="cppreg" class="layui-textarea">{$vo.cppreg}</textarea>
                </div>
            </div>
            
            <div class="layui-form-item">
            	<label class="layui-form-label"></label>
            	<div class="layui-input-inline"></div>
            </div>
                
            <div class="btable-paged" >
                <div class="layui-main">
                    <div class="formbtngroup">
                    <button class="layui-btn layui-btn-small" lay-submit="" lay-filter="formadd"><i class="layui-icon">&#xe618;</i>保存 </button>
                    <button onclick="caiji();" class="layui-btn layui-btn-normal layui-btn-small">立即采集<i class="layui-icon">&#xe602;</i> </button>
                    </div>
                 </div>
             </div>
         </form>
    </div>
    <script>
	layui.use(['form','upload','layer','element'],function(){
	  var form = layui.form()
	  ,jq = layui.jquery
	  ,element = layui.element();
	  
	  var url=jq('form').data('url');
	  form.on('submit(formadd)', function(data){
	    loading = layer.load(2, {
	      shade: [0.2,'#000']
	    });
	    //var param = data.field;
	    jq.post(url,jq('#form_do').serialize(),function(data){
	    	
	      if(data.status == 1){
	        layer.close(loading);
	        layer.msg(data.info, {icon: 1, time: 1000}, function(){
	          location.href = data.url;
	        });
	      }else{
	        layer.close(loading);
	        layer.msg(data.info, {icon: 2, anim: 6, time: 1000});
	      }
	    });
	    return false;
	  });
	
	});
	
	function caiji(){
		$("#form_do").attr("action", "{:U('caijiPage')}");
		$('#form_do').submit();
	}
	
	</script>
</block>