<!DOCTYPE html>
<html style="height: 100%">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>
    <php>echo get_cfg_value('CFG_WEBTITLE');</php>
  </title>
  <link rel="stylesheet" href="__ADMIN__/css/admin.css?v={$V}">
  <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css">
  <script src="__ADMIN__/js/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="__ADMIN__/plugins/layui/layui.js" type="text/javascript"></script>

</head>
<body id="login">
<div class="login-bg">
  <div class="login">
    <h2>
      <php>echo get_cfg_value('CFG_WEBTITLE');</php>
    </h2>
    <form class="layui-form">
      <div class="layui-form-item">
        <input type="text" name="username" placeholder="请输入您的用户名" required lay-verify="required" autocomplete="off"
               class="layui-input"/>
      </div>
      <div class="layui-form-item">
        <input type="password" name="password" placeholder="请输入密码" required lay-verify="required" autocomplete="off"
               class="layui-input"/>
      </div>
      <div class="layui-form-item">
        <input style="width:311px;float:left;margin-right:30px;" type="text" name="code" placeholder="验证码" required
               lay-verify="required" autocomplete="off" class="layui-input">
        <img id="captcha" src="{:U('Login/verify',array('id' => 'a_login_1'))}"
             onClick="this.src='{:U('Login/verify',array('id' => 'a_login_1'))}'" width="119" height="50"
             style="float:left; cursor:pointer;" alt="captcha"/>
      </div>
      <div class="layui-form-item">
        <button lay-submit="" lay-filter="login_index">立即登录</button>
      </div>
      <div class="login-checkbox" style="display: none">
        <input type="checkbox"><span class="font-bold color-default">保存密码</span>
      </div>
    </form>
  </div>
  <script type="text/javascript">
    if (top.location != self.location) {
      top.location = self.location;
    }
  </script>
  <script>
    layui.use('form', function () {
      var form = layui.form()
        , jq = layui.jquery;

      form.on('submit(login_index)', function (data) {
        loading = layer.load(2, {
          shade: [0.2, '#000']
        });
        var param = data.field;
        jq.post("{:U('Login/login')}", param, function (data) {
          data.code = data.code || ((data.status === 1) ? +'{$Think.CODE_LOGIN_SUCCESS}' : +'{$Think.CODE_ERROR}');
          data.msg = data.msg || data.info;
          data.data = data.data || data.url;
          if (data.code === +'{$Think.CODE_LOGIN_SUCCESS}') {
            layer.close(loading);
            layer.msg(data.msg, {icon: 1, time: 1000}, function () {
              location.href = data.data.url;
            });
          } else {
            layer.close(loading);
            layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});

            $('#captcha').attr('src', "{:U('Login/verify',array('id' => 'a_login_1'))}");

          }
        });
        return false;
      });

    })
  </script>
</div>
</body>
</html>